.button-like {
width: 22px;
height: 19px;
margin: 0;
position: absolute;
right: 0;
padding: 0;
border: none;
font: inherit;
color: inherit;
background-color: transparent;
cursor: pointer;
}

.button-like:hover {
opacity: 0.5;
}