.popup__container {
    width: 430px;
    max-height: 330px;
    /* Никак не получается обойтись без обозначения максимального значения высоты. 
    К примеру, в фигме header контейнера 23 пикселя, а при задании параметров присутсвтует 
    параметр line-height равный 29 пикселей, который никак не дает сделать меньше. 
    очно так же и с мобильным размером */
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 25px;
}

@media screen and (max-width: 1023px) {
    .popup__container {
        width: 282px;
        max-height: 322px;
    }
}