.popup__container {
width: 430px;
height: 330px;
background-color: #FFFFFF;
margin: auto;
border-radius: 10px;
position: fixed;
justify-content: center;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

@media screen and (max-width: 1023px) {
.popup__container {
width: 282px;
height: 322px;
}
}