.popup__container {
    width: 430px;
    background-color: #FFFFFF;
    margin: 0 auto;
    top: 195px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media screen and (max-width: 1023px) {
    .popup__container {
        width: 282px;
    }
}