.button_type_edit {
    width: 24px;
    height: 24px;
    background-color: inherit;
    justify-content: center;
    justify-self: center;
    margin: auto;
    background-image: url(../../../../images/Edit_Button.svg);
}

@media screen and (max-width: 767px) {
    .button_type_edit {
        width: 18px;
        height: 18px;
        margin-right: 19px;
        background-image: url(../../../../images/Edit_Button_size-s.svg);
    }
}

.button_type_edit:hover {
    opacity: 0.6;
}