.button_type_closepopupbp {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: transparent;
    margin: 0;
    background-image: url(../../../images/Close_Icon.svg);
}