.button_type_like-active {
    width: 22px;
    height: 19px;
    background-color: inherit;
    margin: auto 0 auto auto;
    background-image: url(../../../images/Union.svg);
}

.button_type_like-active:hover {
    opacity: 0.5;
}