.button-close {
position: absolute;
bottom: 338px;
left: 438px;
padding: 0;
border: none;
font: inherit;
color: inherit;
background-color: transparent;
cursor: pointer;
}

@media screen and (max-width: 1023px) {
.button-close {
width: 20px;
height: 20px;
left: 262px;
bottom: 338px;
}
}