.popup-bp_opened {
    display: flex;
    opacity: 1;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8999999761581421);
    z-index: 5000;
}