.edit-form__name {
display: block;
width: 358px;
border: none;
border-bottom: 1px solid #bdbdbd;
background-color: #fff;
background-clip: padding-box;
outline: none;
outline-offset: 0;
box-sizing: border-box;
margin: 0 auto;
padding-bottom: 13px;
}

@media screen and (max-width: 1023px) {
.edit-form__name {
width: 238px;
}
}