.popup__container_add {
    width: 430px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px;
}

@media screen and (max-width: 1023px) {
    .popup__container_add {
        width: 282px;
    }
}