.profile__info-name {
    width: 294px;
    font-style: medium;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__info-name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin: auto;
    }
}