.profile__info {
    width: 336px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 18px;
    margin: 22px 0 25px 0;
    color: #fff;
    position: relative;
}

@media screen and (max-width: 1023px) {
    .profile__info {
        width: 282px;
        margin: 22.25px auto 0 auto;
        column-gap: 10px;
        row-gap: 14px;
    }
}