.element__info {
    display: flex;
    flex-direction: row;
    width: 246px;
    flex-wrap: nowrap;
    align-items: baseline;
    margin: 25px auto auto auto;
    justify-content: center;
    justify-self: center;
    overflow: hidden;
    box-sizing: border-box;
}