.profile__info_job {
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
white-space: nowrap;
margin: 0;
}

@media screen and (max-width: 1023px) {
.profile__info_job {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: center;
}
}