.button_edit {
    width: 24px;
    height: 24px;
    background-color: transparent;
    justify-content: center;
    justify-self: center;
    margin: auto;
}

@media screen and (max-width: 767px) {
    .button_edit {
        width: 18px;
        height: 18px;
        right: 19px;
        top: 8px;
    }
}

.button_edit:hover {
    opacity: 0.6;
}